
@import "../../styles/variable.scss";

$primary-color: $primary-color-dark-blue;
$border-color: rgba(11, 39, 67, 0.202);
.wrapper_spinner{
height: 50px;
width: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;

}
.spin_black::before {
  animation: 800ms  ease-in-out infinite spinner;
  animation-play-state: inherit;

    border: solid 5px #000000eb;





  border-bottom-color: $primary-color;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;

 
  width: 40px;
  
}
.spin_white::before {
  animation: 800ms  ease-in-out infinite spinner;
  animation-play-state: inherit;




    border: solid 5px $border-color;


  border-bottom-color: $primary-color;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;

 
  width: 40px;
  
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }