@import "../../styles/variable.scss";
.post_content{
    margin-top: 50px;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: $font-family-body;
    font-weight: 300;
    strong{
        font-weight: 800;
    }
    h1{
        font-size: 1.7rem;
        
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }

    h6{
        font-size: 1.2rem;
        font-weight: 300;
        color:$light-gray;
        margin: 0;
        margin-bottom: 10px;
    }
    img{
        border-radius: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        object-fit: cover;

    }
    blockquote{
        max-width: 500px;
        width: 100%;
        background-color: $primary-color-dark-blue;
        color: $primary-color-yellow;
        padding: 50px 60px; 
        border-radius: 150px;
        text-align: center;
        font-weight: 800;
        font-size: 1.4rem;
        margin-left: 50%;
        transform: translateX(-50%);
        position: relative;

        &::before {
            content: '"';
            font-size:clamp(200px, 12vw, 500px) ;
            position: absolute;
            font-family: $font-family-title;
            left: -15px;
            margin-top: 40px;
        }

        &::after {
            content: '"';
            font-size:clamp(200px, 12vw, 500px) ;
            position: absolute;
            font-family: $font-family-title;
            right: 0;
            margin-top: 50px;
        }

        
    }

    
    
}