@import "../../styles/variable.scss";

$border-raduis-value: 100px;
$height: 400px;
$width: 300px;
$height-mobile: 150px;
$width-mobile: 310px;
$space-mobile: 10px;

.date_global_container{
    background-color: $primary-color-green;
    padding: 10px 10px 6px 10px;
    border-radius: 100px;
    position: absolute;
    margin-top: -15px;
    color: black !important;

    &.passed_date{
        background-color: rgb(210, 155, 155)
    }
    .date{
        font-size: 0.9rem;
        font-weight: 300;
    }

    @media screen and (max-width: 950px){
        margin-top: -40%;
        margin-right: 40%;

    }
}
.global_container{
    transition: 300ms;
    height: fit-content;
    width:  fit-content;
    margin: 10px 0;
    &:hover{
        .background_blue{
        transform: translate(0px, 0px);
        }
        .image_wrapper{
            transition: 300ms;
            animation: eyesClining 5s infinite ease-in-out;
        }
    }
    @media (pointer:fine){

    
    &:hover{
        .background_blue{
        transform: translate(35px, -35px);

        }

    }
    &:active{
        .background_blue{
            transform: translate(0px, 0px);
        }

    }
    }
    .background_yellow{
        background-color: $primary-color-yellow;
        height: $height;
        width: $width;
        border-radius: $border-raduis-value;
        @media screen and (max-width: 950px){

            height: $height-mobile;
            width: $width-mobile;
        }
    }
    .background_blue{
        transition: 300ms;
        transform: translate(20px, -20px);

        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 950px){
            transform: translate(10px, -10px);
            flex-direction: row-reverse;
            height: $height-mobile;
            width: $width-mobile;
            .btn_wrapper{
                display: none;
            }
        }

        &.bg_blue_dark{
            background-color: $primary-color-dark-blue;
            color: $white;
        }
        &.bg_blue_light{
            background-color: $primary-color-light-blue;
            color: $black;
        }
        
        height: $height;
        width: $width;
        border-radius: $border-raduis-value;
        .image_container{
            height: 204px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 950px){
                  
                height: 120px;
                width: 120px;
                margin-right: 10px;
      
            }
            .image_wrapper{
                position: relative ;
                height: 200px;
                width: 300px;
                overflow: hidden;
                border-radius: 100px;

        
                transition: 300ms;
                @media screen and (max-width: 950px){
                  
                    height: 120px;
                    width: 120px;
                  
          
                }
    
                .image{
                    height: 100%;
                    width: 100%;
                    position: absolute !important;
                }
     
            }
        }


        .title{
            font-family: $font-family-title;
            font-weight: 300;
            text-align: center;
            width: 250px;
            font-size: 1.3rem;
            
            @media screen and (max-width: 950px){
                font-size: 1rem;
                text-align: start;
                width: 150px;
                height: auto;
          

            }
        }


    }

}
@keyframes eyesClining {
    0% { 
      max-height: 200px 
    }
    17%{
        max-height: 200px 
    }
    19%{
        max-height: 0px 
    }
    23%{
        max-height:  200px
    }
    50%{
        max-height:  200px
    }
    53% { 
        max-height:  0px
    }
    55% { 
        max-height:  200px 
    }

  
  
  }