@import "../../../styles/variable.scss";
.global_conatiner{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    .global_content{
        max-width: 500px;
        padding: 5%;

        .title{
            font-family: $font-family-title;
            font-weight: 300;
            
        }
    }
}