@import "../../styles/variable.scss";
//pt
$breakpoint: 1300px;
.dock_global_container{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    justify-content: center;
    z-index: 5;

    transition: 700ms;


    @media screen and (min-width:$breakpoint){
      
        display: none;
    }
 
    &.isUp{
        transform: translate(-50%, 0%);
        opacity: 1;
   
  
    }

    &.isDown{
        transform: translate(-50%, 200%);
        opacity: 0;
 
    }
   

}
.global_container{
    height: 600px;
    max-width: 500px;

    z-index: 3;
    background-color: $primary-color-light-blue;
    right: 0;
    top: 30%;
    border-radius: 120px;

    padding: 20px 50px;
    transition: 300ms;
    @media screen and (max-width:$breakpoint){
       padding: 20px 0 0 0;
       width: 100%;
       border-radius: 120px 0 0 120px;
   

       position: fixed;
    }

    .wrapper_content{
        display: flex;
        flex-direction: column;

        align-items: center;
        @media screen and (min-width:$breakpoint){
            justify-content: center;
            margin-top: -10px;

        }
        transition: 300ms;
        height: 100%;
        width: 100%;
     
        padding: 0;
        margin: 0;
      
        

    }


    @media screen and (max-width:$breakpoint){
      
        top:unset;
        bottom: 0;
    }

    .icon{
        padding: 10px;
        margin-bottom: 5px;

        border-radius: 100px;

        transition: 300ms;
        width: 40px;

        @media screen and (min-width:$breakpoint){
            display: none;
        }

        &:hover{
            background-color: $background-color-blue;
        }
        
    }
    @media screen and (max-width:$breakpoint){
    &.isUp{
        transform: translate(-50%, 15%);
        .wrapper_content{
            opacity: 1;
            transition: 400ms;
        }

        transition: 400ms;
    }

    &.isDown{
        transform: translate(-50%,85%);
        .wrapper_content{
            opacity: 0;
            transition: 300ms;
        }
        transition: 400ms;
    }
    }
    @media screen and (max-width:$breakpoint){
      
        border-radius: 70px 70px 0 0;

        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .title{
        font-family: $font-family-title;
        font-size: clamp(30px, 1.5vw, 50px);
        font-weight: 300;
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (max-width:$breakpoint){
            text-align: center;
            font-size: clamp(25px, 1.2vw, 50px);
        }
    }

    .description_wrapper{
        max-width: 200px;
        .description{
            
            font-size: 0.9rem;
            font-family: $font-family-body;
            text-align: center;
            @media screen and (max-width:$breakpoint){
                font-size: 0.9rem;
                text-align: center;
            }
        }


    }

}