@import "../../styles/variable.scss";
.global_container{
    background-color: $primary-color-yellow;
    width: 280px;
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 15vh;
    padding: 50px 30px;
    border-radius: 100px 0 0 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title_widget{
        font-size: 1.8rem;
        font-family: $font-family-title;
        line-height: 1.8rem;
    }

    @media screen and (max-width: 1264px) {
        display: none;
        
    }
}

.global_container_post_btn{
    display: flex;
    align-items: center;
    color: $black;
    .title_nb, .title_post{
        transition: 300ms;
    }
    .title_nb{
        font-size: 3rem;
        font-family: $font-family-title;
        
    }
    .title_post{
        font-family: $font-family-title;
        font-size: 1.2rem;
        margin-left: 20px;
    }

    &:hover{
        .title_nb,.title_post{
            color: $primary-color-dark-blue;
        } 
    }

}