@import '../../../styles/variable.scss';

$mobile-width: 600px;
.global_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

}
.content_wrapper{
        display: flex;
        @media screen and (max-width: $mobile-width){
            padding: 0 20px;
    
    
        }
        width: 100vw;
        overflow: hidden;
        max-width: 1500px;
        @media screen and (max-width: $mobile-width){
                flex-direction: column-reverse;
                height: fit-content;
                overflow: hidden;
    
           
        }
        .left_container{
            flex: 1;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            margin-top: 17%;
            transform: translateY(-20%);

            @media screen and (min-width: 1500px){
                margin-left: 9%;
               }
            @media screen and (max-width: $mobile-width){
                z-index: 3;
                margin-top: -5%;
                margin-left: 0%;
                transform: translateY(0%);
      
           
            }
     
            .title{
                font-family:$font-family-title;
                font-weight: 200;
                font-size: clamp(40px, 5vw, 100px);
                line-height: clamp(40px, 4.9vw, 90px);
                margin: 0;
            }
            .description{
                font-family: $font-family-body;
                font-size: 1rem;
                line-height: 1.8rem;
                max-width: 500px;
                color: $black;
                margin: 8% 0;
            }
            .btn_action_wrapper{
                display: flex;
                flex-wrap: wrap;

            }
            .single_btn_wrapper{
                display: flex;
                
                width: 190px;
                justify-content: center;
                margin: 1% 0;
              
                
            }
        }


        }

        .right_container{
            position: relative;
            @media screen and (max-width: $mobile-width){
                display: flex;
                justify-content: center;
                width: 100%;
           
            }
            .flower_svg{
                height: 10vw;
                width: 10vw;
                max-height: 200px;
                max-width: 200px;
                position: absolute;
                right: 2%;
                z-index: 3;
                //filter: $filter-color-light-blue;
                animation: rotationFlower 6s infinite linear;
                @media screen and (max-width: $mobile-width){
                    height: 20vw;
                    width: 20vw;
                    right: 6%;
               
                }
            }
            .image_wrapper{
                position: relative !important;
                z-index: 2;
                height: 50vw;
                width: 50vw;
                max-height: 800px;
                max-width: 800px;
                overflow: hidden;
                border-radius: 100%;
                margin-left: 10%;
                @media screen and (max-width: $mobile-width){
                    width: 90vw;
                    height: 90vw;
                    margin-left: 0%;
               
                }
               @media screen and (min-width: 1500px){
                margin-left: 0%;
               }
            

            .image{
                height: 100%;
                width: 100%;
                position: absolute !important;
            }
 

        }


}

.logo_tracks{
    position: relative;
    z-index: 1;
    background-color: $primary-color-yellow;
    width: 100vw;
    height: 19vh;
    max-height: 130px;

    transform: translateY(9%);
    overflow: hidden;
    z-index: 1;
    
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-width){
 
        height: 15vh;

        margin-top: 10%;
        transform: translateY(0%);
   
    }
    .logo_list{
        display: flex;
        height: 100%;
     
    }
    .sigle{
        height: 100%;
    
        margin: 0 2%;
        padding: 15px 0;
    }
}

@keyframes rotationFlower {
    0% { 
        rotate:0deg;
    }
    100%{
        rotate:180deg;
    }

  
  
  }