@import "./variable.scss";

.global_container{
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-items: center;
    .global_wrapper_content{
        max-width: $max-width-global-content;
    }
}