
@font-face {
    font-family: 'Courgette';
    src: url('../assets/Courgette/Courgette-Regular.ttf');
    font-weight: 300;
    font-style: normal;}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-ExtraLight.ttf');
    font-weight: 200;
    
}
@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-Light.ttf');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-Medium.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/Tajawal/Tajawal-ExtraBold.ttf');
    font-weight: 800;
   
}


//Varibales
$font-family-title: 'Courgette', cursive;
$font-family-body:'Tajawal', sans-serif; 

//Colors
$primary-color-yellow: #F7E87C;
$primary-color-dark-blue: #3B5971;
$primary-color-light-blue: #9BC8EB;
$primary-color-pink: #DBC1BB;
$primary-color-green: #C1E3B4;

$filter-color-light-blue: invert(87%) sepia(51%) saturate(3949%) hue-rotate(175deg) brightness(97%) contrast(90%);


$background-color-pink: #FAECE9;
$background-color-blue: #DAEDFC;

$black: #000000;
$gray: #333436;
$light-gray:#85b2d4;
$white: #FFFF;

//size content

$max-width-global-content: 1300px;
$padding-global-content-desktop: 15px;
$padding-global-content-mobile: 15px;
